
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><span class="design">C</span>omunev</h1>
    <p *ngIf="toShow">Become a member by filling the form</p>
    <h5 *ngIf="!toShow">Thanks for joining our family </h5>
    

  </div>
</div>
<div *ngIf="toShow" class="container-fluid">
  <div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12">
  
<form   [formGroup]="profile" class="xy" (submit)="verify($event)">
   <mat-form-field appearance="outline">
    <mat-icon matPrefix>person_outline</mat-icon>
    <mat-label>First Name</mat-label>
    <input type="text" matInput placeholder="Enter first name"  formControlName="fname">
   </mat-form-field>


   <mat-form-field appearance="outline">
    <mat-icon matPrefix>person_outline</mat-icon>
    <mat-label>Last Name</mat-label>
    <input type="text" matInput placeholder="Enter second name"  formControlName="lname">
   </mat-form-field>
 

   <mat-form-field appearance="outline">
    <mat-icon matPrefix>person_outline</mat-icon>
    <mat-label>User Name</mat-label>
    <input type="email" matInput placeholder="Enter user name"  formControlName="uname">
   </mat-form-field>
 

   <mat-form-field appearance="outline">
    <mat-icon matPrefix>lock_outline</mat-icon>
    <mat-label>Password</mat-label>
    <input matInput type="password"  placeholder="Enter password" formControlName="password">
   </mat-form-field>

   <mat-form-field appearance="outline"> 
    <mat-label>DOB</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="dob">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
  </mat-form-field>
   
   <mat-form-field appearance="outline">
    <mat-icon matPrefix aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    <mat-label>Country</mat-label>
    <input type="email" matInput placeholder="Enter Country"  formControlName="country">
   </mat-form-field>


 
  <button class="btn btn-primary"  [disabled]="!profile.valid">Submit</button>
  </form>
  </div>
  </div>
  

</div>
<div *ngIf="!toShow" class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
      <h4>Hope you like it</h4>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </div>
  </div>
</div>